<div id="<%= dom_id snag %>">
  <p>
    <strong>Project:</strong>
    <%= snag.project_id %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= snag.location %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= snag.description %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= snag.created_by %>
  </p>

</div>
