<% content_for :title, "Snags" %>


<div class="d-flex justify-content-between align-items-center mb-3">
  <h1 class="mb-0">Snags</h1>
  <%= link_to "New Snag", new_snag_path, class: "btn btn-primary" %>
</div>

<div id="snags" class="row">
  <% @snags.each do |snag| %>
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">
            <%= snag.project.name if snag.project %>
          </h5>
          <p class="card-text"><strong>Location:</strong> <%= snag.location %></p>
          <p class="card-text"><strong>Description:</strong> <%= truncate(snag.description, length: 100) %></p>
          <p class="card-text"><strong>Created by:</strong> <%= snag.created_by %></p>
          <%= link_to "Show this snag", snag_path(snag), class: "btn btn-outline-secondary btn-sm mt-2" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
